body {
  background-color: #FBF2EF;
  color: #A4A4A4;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 22px;
  margin: 100px;
  text-align:center;
}
p {
  color: #A4A4A4;
  text-decoration: none;
  letter-spacing: 2px;
  text-align:center;
}
a:hover {
  color:#F5BCA9;
}
a{
  color: #B18904;
  text-decoration:none;
  transition: color 1s ease;
}
.container {
  background-color: #E0E6F8;
  margin: 100px auto;
  width: 75%;
  padding: -10px 0px 40px 0px;
}
