body {
  background-color: navajowhite;
  color: lightblue;
  font-family: baskerville;
  font-size: 22px;
  margin: 100px;
  text-align:center;
}
p {
  color: darkblue;
  text-decoration: none;
  letter-spacing: 2px;
  text-align:center;
}
a:hover {
  color:pink;
}
a{
  color:teal;
  text-decoration:none;
}
