body {
  margin: 0;
}
.scenecontainer {
  width: 400px;
  height: 450px;
  position: relative;
  left: 35%;
  margin-top: 12%;
  /* top: 45%; */
  background-color: #FFEECF;
}
.text {
  font-size: 20px;
  font-family: 'Baloo';
  color: salmon;
  position:absolute;
  top: 15%;
  left: 33%;
}
.oventop {
  position: absolute;
  width: 185px;
  height: 30px;
  top: 35%;
  left: 27%;
  background-color: #A9F7BE;
  border-radius: 5px;
}
.ovensurface {
  position: absolute;
  width: 210px;
  height: 20px;
  top: 41%;
  left: 24%;
  background-color: #8BE3A3;
  border-radius: 5px;
}
.ovenbody {
  width: 210px;
  height: 150px;
  background-color: #A9F7BE;
  position: absolute;
  left: 24%;
  top: 45%;
  border-radius: 5px;
}
.handle {
  position: absolute;
  width: 170px;
  height: 15px;
  top: 47%;
  left: 29%;
  background-color: #133E78;
  border-radius: 5px;
}
.window {
  position: absolute;
  top: 53%;
  left: 32%;
  width: 145px;
  height: 90px;
  background-color: #D5E2F5;
}
.rack {
  background-color: #1F324F;
  position: absolute;
  width: 145px;
  height: 5px;
  top: 66%;
  left: 32%;
}
.cakebody {
  position: absolute;
  top: 55.5%;
  left: 38%;
  width: 95px;
  height: 48px;
  background-color: #C6957A;
}
.cakestripe {
  position: absolute;
  left: 38%;
  top: 58%;
  margin-bottom: 5px;
  width: 95px;
  height: 6px;
  background-color: #502006;
}
.cakestripe2 {
  position: absolute;
  left: 38%;
  top: 62%;
  width: 95px;
  height: 6px;
  background-color: #502006;
}
.button, .button2, .button3, .button4 {
  background-color:#133E78;
  width: 10px;
  height: 10px;
  top: 37%;
  border-radius: 50%;
}
.button {
  position:absolute;
  left: 33%;
}
.button2 {
  position:absolute;
  left: 41%;
}
.button3 {
  position:absolute;
  left: 57%;
}
.button4 {
  position:absolute;
  left: 65%;
}
.time {
  position:absolute;
  top: 36.75%;
  left: 45.5%;
  background-color: white;
  width: 39px;
  height: 15px;
}
.numbers {
  font-family: 'Baloo';
  color: black;
  font-size: 12px;
  position: absolute;
  top: 33.75%;
  left: 47.75%;
}
