body {
  margin: 0;
}
.scenecontainer1, .scenecontainer2, .scenecontainer3 {
  width: 400px;
  height: 450px;
  position: relative;
  margin-top: 8%;
  background-color: #FFEECF;
  border-style: solid;
  border-width: thick;
  border-color: #FCCC75;
  float:left;
}
.scenecontainer2 {
  left: 7%;
}
.text {
  font-size: 20px;
  font-family: 'Baloo';
  color: salmon;
  position:absolute;
  top:80%;
  left: 33%;
}
.oventop {
  position: absolute;
  width: 185px;
  height: 30px;
  top: 35%;
  left: 27%;
  background-color: #A9F7BE;
  border-radius: 5px;
}
.ovensurface {
  position: absolute;
  width: 210px;
  height: 20px;
  top: 41%;
  left: 24%;
  background-color: #8BE3A3;
  border-radius: 5px;
}
.ovenbody {
  width: 210px;
  height: 150px;
  background-color: #A9F7BE;
  position: absolute;
  left: 24%;
  top: 45%;
  border-radius: 5px;
}
.handle {
  position: absolute;
  width: 170px;
  height: 15px;
  top: 47%;
  left: 29%;
  background-color: #133E78;
  border-radius: 5px;
}
.window {
  position: absolute;
  top: 53%;
  left: 32%;
  width: 145px;
  height: 90px;
  background-color: #FFFA8B;
}
.rack {
  background-color: #1F324F;
  position: absolute;
  width: 145px;
  height: 5px;
  top: 66%;
  left: 32%;
}
.cakebody {
  position: absolute;
  /* top: 61.5%; */
  bottom: 34%;
  left: 38%;
  width: 95px;
  height: 30px;
  background-color: #C6957A;
  border-radius: 5px;
  animation-name: cakebody;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes cakebody {
  0% {height: 10px;}
  25% {height: 15px;}
  50% {height: 20px;}
  75% {height: 25px;}
  100% {height: 30px;}
}
/* .cakestripe {
  position: absolute;
  left: 38%;
  top: 58%;
  margin-bottom: 5px;
  width: 95px;
  height: 6px;
  background-color: #502006;
} */
/* .cakestripe2 {
  position: absolute;
  left: 38%;
  top: 62%;
  width: 95px;
  height: 6px;
  background-color: #502006;
} */
.button, .button2, .button3, .button4 {
  background-color:#133E78;
  width: 10px;
  height: 10px;
  top: 37%;
  border-radius: 50%;
}
.button {
  position:absolute;
  left: 33%;
}
.button2 {
  position:absolute;
  left: 41%;
}
.button3 {
  position:absolute;
  left: 57%;
}
.button4 {
  position:absolute;
  left: 65%;
}
.time {
  position:absolute;
  top: 36.75%;
  left: 45.5%;
  background-color: white;
  width: 39px;
  height: 15px;
}
.numbers {
  font-family: 'Baloo';
  color: black;
  font-size: 12px;
  position: absolute;
  top: 33.75%;
  left: 47.75%;
}
.scenecontainer1 {
  left: 4%;
}
.arrow {
  font-size: 40px;
  font-family: 'Baloo';
  color: #133E78;
  position:absolute;
  top: 35%;
  left: 18%;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {left: 18%;}
  50% {left: 19%;}
  100% {left: 18%;}
}
.cover, .pages {
  position:absolute;
}
.cover {
  background-color: #DF503A;
  top: 45%;
  left: 27.25%;
  width: 175px;
  height: 125px;
  border-radius: 2px;
}
.pages {
  background-color: #FFFFFF;
  width: 146px;
  height: 100px;
  top: 47.5%;
  left: 31%;
}
.picture {
  position: absolute;
  background-color: #C6957A;
  width: 35px;
  height: 39px;
  top: 49%;
  left: 33%;
}
.picture2 {
  position: absolute;
  background-color: #C6957A;
  width: 35px;
  height: 39px;
  top: 49%;
  left: 56.5%;
}
.divider {
  position: absolute;
  background-color: tan;
  width: 3px;
  height: 100px;
  top: 47.5%;
  left: 49%;
}
.recipe, .recipe2, .recipe3, .recipe4 {
  position: absolute;
  background-color: grey;
  width: 17px;
  height: 7px;
  top: 60%;
}
.recipe5, .recipe6, .recipe7, .recipe8 {
  position: absolute;
  background-color: grey;
  width: 17px;
  height: 7px;
  top: 63%;
}
.recipe9, .recipe10, .recipe11, .recipe12 {
  position: absolute;
  background-color: grey;
  width: 17px;
  height: 7px;
  top: 66%;
}
.recipe {
  left: 33%;
}
.recipe2 {
  left: 41%;
}
.recipe3 {
  left: 53%;
}
.recipe4 {
  left: 61%;
}
.recipe5 {
  left: 33%;
}
.recipe6 {
  left: 41%;
}
.recipe7 {
  left: 53%;
}
.recipe8 {
  left: 61%;
}
.recipe9 {
  left: 33%;
}
.recipe10 {
  left: 41%;
}
.recipe11 {
  left: 53%;
}
.recipe12 {
  left: 61%;
}
.scenecontainer3 {
  left: 10%;
}
.cakebody2 {
  position: absolute;
  top: 41%;
  left: 27%;
  width: 190px;
  height: 96px;
  background-color: #C6957A;
  border-radius: 5px;
}
.cakestripeB {
  position: absolute;
  left: 26%;
  top: 47%;
  margin-bottom: 5px;
  width: 198px;
  height: 12px;
  background-color: #502006;
  border-radius: 5px;
}
.cakestripeC {
  position: absolute;
  left: 26%;
  top: 54%;
  width: 198px;
  height: 12px;
  background-color: #502006;
  border-radius: 5px;
}
.plate, .stand, .base {
  position: absolute;
  background-color: #C6F1FC;
}
.plate {
  top: 61%;
  width: 190px;
  height: 14px;
  border-radius: 50%;
  left: 27%;
}
.stand {
  top: 63%;
  width: 25px;
  height: 65px;
  left: 46.75%;
}
.base {
  top: 77%;
  width: 57px;
  height: 11px;
  border-radius: 50%;
  left: 42.75%;
}
.candle {
  position: absolute;
  top: 33.5%;
  width: 9px;
  height: 35px;
  left: 49.5%;
  background-color: tomato;
  border-radius: 3px;
}
.flame {
  position: absolute;
  top: 27%;
  width: 13px;
  height: 19px;
  left: 48.75%;
  background-color: #FFAB0C;
  border-radius: 50%;
  animation-name: flame;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes flame {
  0% {left: 48.75%;}
  25% {left: 50%;}
  50% {left: 48.75%;}
  75% {left: 47.5%;}
  100% {left: 48.75%;}
}
