body {
  margin: 0;
}
.scenecontainer {
  width: 400px;
  height: 450px;
  position: relative;
  left: 35%;
  margin-top: 12%;
  /* top: 45%; */
  background-color: #FFEECF;
}
.oventop {
  position: absolute;
  width: 185px;
  height: 30px;
  top: 33%;
  left: 27%;
  background-color: #A9F7BE;
}
.ovensurface {
  position: absolute;
  width: 210px;
  height: 30px;
  top: 39%;
  left: 24%;
  background-color: #8BE3A3;
}
.ovenbody {
  width: 210px;
  height: 150px;
  background-color: #A9F7BE;
  position: absolute;
  left: 24%;
  top: 45%;
}
.handle {
  position: absolute;
  width: 170px;
  height: 15px;
  top: 47%;
  left: 29%;
  background-color: #133E78;
}
