
body {
  margin: 0;
}

h1 {
  font-family: Arial Black;
  font-size: 62px;
}

h2, h3 {
  font-family: Arial Hebrew;
  font-weight: normal;
  font-size: 39px;
}

h4 {
  font-family: Arial Black;
  font-size: 114px;
}

p {
  font-family: Arial Black;
  font-size: 24px;
  line-height: 1.4;
}

.container {
  width: 90vw;
  margin: 100px auto;
}
.header {
  width: 100%;
  text-align: right;
  line-height: .9;
  margin: 0  0 20% 0;
  }
.titles {
  width: 100%;
  text-align: right;
  line-height: 1;
}
.chapterText {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
    body {
      background-color: #F6DFCF;
    }
    h4  {
      font-size: 70px;
    }
    }

@media only screen and (max-width: 768px) {
    body {
      background-color: #F7C9A9;
    }
    h1 {
      font-size: 45px;
    }

    h2, h3 {
      font-size: 25px;
    }

    h4 {
      font-size: 60px;
    }
    .container {
    margin: 50px auto;
    }
    .chapterText {
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    }
}
