body {
  margin: 0;
}
h1 {
  font-family: Coquette;
  font-size: 159px;
  color: #831313;
}
h2 {
  font-family: Helvetica Neue;
  font-size: 38px;
  color: #B75F5F;
}
p {
  font-family: InaiMathi;
  font-size: 29px;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 100px;
}
.header {
  background-color: #E5DCDC;
  text-align: center;
}
.leftsquares {
  height: 1000px;
  width: 50%;
  float: left;
  margin-top: 70px;
}
.text1 {
  width: 50%;
  margin-left: 80px;
}
.text2 {
  width: 50%;
  margin-left: 50%;
}
.littlesquare {
  background-color: #E5DCDC;
  width: 100%;
  height: 250px;
  float: left;
  margin-bottom: 400px;
}
.littlesquare2 {
  background-color: blue;
  width: 100%;
  height: 250px;
  float: left;
}
.rightsquares {
  height: 1000px;
  width: 50%;
  float: left;
  margin-left: 50%;
}
.littlesquare3 {
  background-color: green;
  width: 100%;
  height: 250px;
  float: left;
  margin-bottom: 400px;
}
.littlesquare4 {
  background-color: red;
  width: 100%;
  height: 250px;
  float: left;
}
.image1 {
  width: 50%;
  margin-left: 50%;
  float: left;
}
img {
  width: 50%;
  margin-left: 50%;
}
