
body {
  margin: 0;
}

.container {
  width: 90vw;
  margin: 100px auto;
}
.header {
  width: 100%;
}
.mainText {
  width: 50%;
  margin: 30% 0 0 50%;
}
@media only screen and (max-width: 1000px) {
    body {
      background-color: blue;
    }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
