body {
  margin: 0;
}
.container {
  width: 90%;
  height: 600px;
  position: relative;
  margin-top: 5%;
  margin-left: 4.5%;
  background-color: #F9F4D7;
  border-style: solid;
  border-width: thick;
  border-color: #F9EDA9;
  float: left;
}
.deskbody {
  width: 310px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: brown;
}
.smalldrawer, .smalldrawer2, .smalldrawer3 {
  position: absolute;
  background-color: grey;
  width: 80px;
  height: 38px;
}
.smalldrawer {
  top: 51%;
  left: 5.5%;
}
.smalldrawer2 {
  top: 58.5%;
  left: 5.5%;
}
.smalldrawer3 {
  top: 66%;
  left: 5.5%;
}
.largedrawer {

}
.smallhandle {

}
.largehandle {

}
.frontleg {

}
.backleg {

}
