body {
  margin: 0;
}
.container {
  width: 90%;
  height: 600px;
  position: relative;
  margin-top: 5%;
  margin-left: 4.5%;
  background-color: #F9F4D7;
  border-style: solid;
  border-width: thick;
  border-color: #F9EDA9;
  float: left;
}
.deskbody {
  width: 315px;
  height: 145px;
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: #BD6919;
}
.smalldrawer, .smalldrawer2, .smalldrawer3 {
  position: absolute;
  background-color: #BD6919;
  border-style: solid;
  border-color: #502802;
  width: 80px;
  height: 38px;
  left: 5.5%;
}
.smalldrawer {
  top: 51%;
}
.smalldrawer2 {
  top: 58.5%;
}
.smalldrawer3 {
  top: 66%;
}
.largedrawer, .largedrawer2, .largedrawer3 {
  position: absolute;
  background-color: #BD6919;
  border-style: solid;
  border-color: #502802;
  width: 210px;
  height: 38px;
  left: 12.15%;
}
.largedrawer {
  top: 51%;
}
.largedrawer2 {
  top: 58.5%;
}
.largedrawer3 {
  top: 66%;
}
.smallhandle, .smallhandle2, .smallhandle3 {
  position: absolute;
  background-color: #502802;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 8.35%;
}
.smallhandle {
  top: 53.75%;
}
.smallhandle2 {
  top: 61.25%;
}
.smallhandle3 {
  top: 68.75%;
}
.largehandle, .largehandle2, .largehandle3 {
  position: absolute;
  background-color: #AE810B;
  width: 209px;
  height: 5px;
  left: 12.4%;
}
.largehandle {
  top: 54%;
}
.largehandle2 {
  top: 61.5%;
}
.largehandle3 {
  top: 69%;
}
.frontleg, .frontleg2 {
  position: absolute;
  background-color: #502802;
  width: 10px;
  height: 45px;
  border-radius: 10%;
  top: 74%;
}
.frontleg {
  left: 7%;
}
.frontleg2 {
  left: 26.75%;
}
.backleg, .backleg2 {
  position: absolute;
  background-color: #502802;
  width: 10px;
  height: 35.5px;
  border-radius: 10%;
  top: 74%;
}
.backleg {
  left: 7.25%;
}
.backleg2 {
  left: 26.5%;
}
.tail {
  background-color: yellow;
  position: absolute;
  width: 40px;
  height: 20px;
  bottom: 16%;
  left: 66.5%;
}
.dogbody {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 60px;
  top: 74%;
  left: 60%;
}
.doghead {
  background-color: purple;
  position: absolute;
  width: 70px;
  height: 68px;
  bottom: 16%;
  left: 55%;
}
.paw {
  background-color: red;
  position: absolute;
  width: 30px;
  height: 25px;
  bottom: 15%;
  left: 53%;
}
.arm {
  background-color: orange;
  position: absolute;
  width: 70px;
  height: 25px;
  bottom: 15%;
  left: 55%;
}
.mouth {
  position: absolute;
  background-color: grey;
  width: 40px;
  height: 50px;
  bottom: 16%;
  left: 53%;
}
.nose {
  position: absolute;
}
.eye {
  position: absolute;
}
.eye2 {
  position: absolute;
}
.earbase {
  background-color: black;
  position: absolute;
}
.earbase2 {
  background-color: green;
  position: absolute;
}
.eartip {
  background-color: pink;
  position: absolute;
}
.eartip2 {
  background-color: white;
  position: absolute;
}
.thigh {
  background-color: lime;
  position: absolute;
}
.leg {
  background-color: violet;
  position: absolute;
}
