body {
  margin: 0;
}
.container {
  width: 90%;
  height: 600px;
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  background-color: #15205A;
}
.floor {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #050D34;
  bottom: 0%;
}
.spotlight, .spotlight2, .spotlight3 {
  position: absolute;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 425px solid #FAF79D;
  width: 130px;
  top: 11%;
}
.lamp, .lamp2, .lamp3 {
  background-color: black;
  border-radius: 20%;
  width: 160px;
  height: 50px;
  position: absolute;
}
/* SHEEP */
.sheepspace {
  position: absolute;
  /* background-color: yellow; */
  height: 530px;
  width: 300px;
  left: 10%;
}
.lamp {
  left: 19.5%;
}
.spotlight {
  left: 16.5%;
  animation-name: spotlight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes spotlight {
0% {border-bottom: 425px solid #FAF79D;}
30% {border-bottom: 425px solid #FAD59D;}
60% {border-bottom: 425px solid #C9FAB8;}
100% {border-bottom: 425px solid #FAF79D;}
}
.sheephead {
  position: absolute;
  background-color: #473724;
  position: absolute;
  width: 67px;
  height: 45px;
  border-radius: 50%;
  top: 73%;
  left: 50%;
}
.sear, .sear2 {
  position: absolute;
  background-color: #473724;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -8%;
}
.sear {
  top: 5%;
}
.sear2 {
  top: 60%;
}
.seye, .seye2 {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 3px;
  height: 6px;
  left: 28.75%;
}
.seye {
  top: 22.5%;
}
.seye2 {
  top: 58.75%;
}
.snose {
  background-color: black;
  position: absolute;
  width: 10px;
  height: 12px;
  border-radius: 50%;
  left: 60%;
  top: 28%;
}
.smouth {
  background-color: #C26B88;
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 7px;
  left: 81%;
  top: 33.5%;
  animation-name: smouth;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
  @keyframes smouth {
  0% {width: 6px;
      height: 7px;}
  50% {width: 8px;
      height: 9px;}
  100% {width: 6px;
      height: 7px;}
}
.shattop {
  position: absolute;
  width: 25px;
  height: 37px;
  top: 5.5%;
  left: -24%;
  background-color: #D89810;
  border-radius: 5px;
}
.sbrim {
  position: absolute;
  background-color: #D89810;
  width: 15px;
  height: 45px;
  border-radius: 50%;
}
.microphone {
  position: absolute;
  width: 45px;
  height: 150px;
  top: 68%;
  right: 5%;
}
.mstand {
  background-color: #3469A9;
  width: 7px;
  height: 100px;
  position: absolute;
  top: 31%;
  left: 33.25%;
}
.mphone {
  background-color: #A2A2A7;
  width: 30px;
  height: 20px;
  position: absolute;
  border-radius: 20px;
  top: 23%;
  left: 2%;
}
.mbase {
  background-color: #3469A9;
  top: 80%;
  width: 40px;
  height: 30px;
  position: absolute;
  border-radius: 5px;
}
.sheepbody {
  position: absolute;
  width: 140px;
  height: 80px;
  top: 81%;
  left: 20%;
}
.circle, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle9, .circle10, .circle11 {
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.circle {
  top: 0%;
  right: 0%;
}
.circle2 {
  top: 0%;
  right: 15%;
}
.circle3 {
  top: 0%;
  right: 30%;
}
.circle4 {
  top: 0%;
  right: 45%;
}
.circle5 {
  top: 30%;
  right: 8%;
}
.circle6 {
  top: 30%;
  right: 18%;
}
.circle7 {
  top: 30%;
  right: 28%;
}
.circle9 {
  top: 30%;
  right: 38%;
}
.circle10 {
  top: 30%;
  right: 48%;
}
.circle11 {
  top: 0%;
  right: 58%;
}
.tail {
  position: absolute;
  background-color: white;
  width: 15px;
  height: 23px;
  border-radius: 50%;
  top: -18%;
  left: 17%;
}
/* .shead {
  background-color: #473724;
  position: absolute;
  width: 67px;
  height: 45px;
  border-radius: 50%;
  top: 65%;
  left: 50%;
} */
.sleg, .sleg2, .sleg3, .sleg4 {
  position: absolute;
  background-color: #291906;
}
.sleg, .sleg2 {
  width: 10px;
  height: 40px;
  bottom: -4%;
}
.sleg3, .sleg4 {
  width: 8px;
  height: 35px;
  bottom: -4%;
}
.sleg {
  right: 19.5%;
}
.sleg2 {
  right: 29%;
}
.sleg3 {
  right: 46%;
}
.sleg4 {
  right: 54%;
}
/* CENTERSTAGE */
.centerstage {
  position: absolute;
  width: 350px;
  height: 530px;
  left: 34%;
  background-color: red;
}
.lamp2 {
  left: 28%;
}
.spotlight2 {
  left: 25%;
  animation-name: spotlight2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes spotlight2 {
0% {border-bottom: 425px solid #FAF79D;}
30% {border-bottom: 425px solid #FAD59D;}
60% {border-bottom: 425px solid #C9FAB8;}
100% {border-bottom: 425px solid #FAF79D;}
}
.girlhead {
  position: absolute;
  top: 30%;
  left: 21%;
  width: 200px;
  height: 150px;
}
.brim {
  position: absolute;
  background-color: #7DD3B1;
  width: 170px;
  height: 15px;
  border-radius: 50%;
  top: 10%;
  left: 8%;
}
.hattop {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  top: -13%;
  left: 23.55%;
  background-color:#7DD3B1;
  position: absolute;
}
.hair {
  position: absolute;
  background-color: #6D2A06;
  width: 145px;
  height: 140px;
  border-radius: 50%;
  top: 5%;
  left: 15%;
}
.face {
  position: absolute;
  background-color: #F0CD9F;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  top: 19%;
  left: 24.15%;
}
.eye {
  position: absolute;
  background-color: #224289;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 48%;
  left: 36%;
  animation-name: eye;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes eye {
0% {left: 36%;}
50% {left:38%;}
100% {left: 36%;}
}
.eye2 {
  position: absolute;
  background-color: #224289;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 48%;
  left: 51%;
  animation-name: eye2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes eye2 {
0% {left: 51%;}
50% {left: 53%;}
100% {left: 51%;}
}
.nose {
  position: absolute;
  background-color: #DEBA8B;
  width: 12px;
  height: 15px;
  border-radius: 50%;
  top: 58%;
  left: 44%;
}
.bangs {
  position: absolute;
  background-color: #6D2A06;
  width: 73px;
  height: 45px;
  border-radius: 5px;
  top: 9%;
  left: 33%;
}
.eyebrow, .eyebrow2 {
  background-color: #6D2A06;
  position: absolute;
  width: 12px;
  height: 3px;
  border-radius: 50%;
  top: 42.5%;
}
.eyebrow {
  left: 36%;
}
.eyebrow2 {
  left: 51%;
}
.girlbody {
  position: absolute;
  background-color: green;
  width: 200px;
  height: 120px;
  top: 75%;
  left: 28%;
}
.skirt {
  position: absolute;
  background-color: #621941;
  width: 150px;
  height: 45px;
  top: 65%;
  left: 42%;
  border-radius: 5px;
}
.skirttop {
  position: absolute;
  background-color: #751F4E;
  width: 150px;
  height: 23px;
  top: 64.5%;
  left: 42%;
  border-radius: 5px;
}
.leg {
  position: absolute;
  background-color: #F0CD9F;
  width: 27px;
  height: 100px;
  top: 68%;
  left: 44%;
  border-radius: 15%;
}
.leg2 {
  position: absolute;
  background-color: #F0CD9F;
  width: 27px;
  height: 100px;
  top: 68%;
  left: 49.5%;
  border-radius: 15%;
}
.shoe {
  position: absolute;
  background-color: #3A61B6;
  width: 40px;
  height: 29px;
  top: 82%;
  left: 48.65%;
  border-radius: 5px;
}
.shoe2 {
    position: absolute;
    background-color: #3A61B6;
    width: 40px;
    height: 29px;
    top: 82%;
    left: 43.75%;
    border-radius: 5px;
}
.piano {
  position: absolute;
  top: 65%;
  width: 350px;
  height: 160px;
}
.music {
  position: absolute;
  background-color: #932B26;
  width: 140px;
  height: 80px;
  top: -50%;
  left: 29%;
}
.text {
  position: absolute;
  top: -48%;
  left: 54%;
}
p {
  font-size: 12px;
  font-family: cursive;
  color: #B0801A;
}
.spine {
  position: absolute;
  background-color: #A2A2A7;
  width: 3px;
  height: 80px;
  top: -49.6%;
  left: 49%;
}
.peg {
  position: absolute;
  background-color: black;
  width: 7px;
  height: 45px;
  top: -27%;
  left: 40%;
}
.peg2 {
  position: absolute;
  background-color: black;
  width: 7px;
  height: 45px;
  top: -27%;
  left: 57%;
}
.pbody {
  position: absolute;
  background-color: black;
  width: 350px;
  height: 75px;
  border-radius: 5px;
}
.rug {
  position: absolute;
  background-color: #B97E1C;
  width: 222px;
  height: 25px;
  bottom: 0%;
  left: 18.5%;
  border-radius: 50%;
  border-style: dotted;
  border-color: #95630F;
}
.pleg {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 130px;
  bottom: -10%;
  left: 10%;
}
.pleg2 {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 130px;
  bottom: -10%;
  right: 10%;
}
.chairleg {
  position: absolute;
  background-color: brown;
  width: 17px;
  height: 85px;
  bottom: -5%;
  left: 33%;
}
.chairleg2 {
  position: absolute;
  background-color: brown;
  width: 17px;
  height: 85px;
  bottom: -5%;
  left: 63%;
}
/* PIG */
.pigspace {
  position: absolute;
  background-color: purple;
  right: 10%;
  width: 20%;
  height: 530px;
}
.spotlight3 {
  left: -3.75%;
  animation-name: spotlight3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes spotlight3 {
0% {border-bottom: 425px solid #FAF79D;}
30% {border-bottom: 425px solid #FAD59D;}
60% {border-bottom: 425px solid #C9FAB8;}
100% {border-bottom: 425px solid #FAF79D;}
}
.head {
  background-color: #E790AC;
  border-radius: 50%;
  width: 32%;
  height: 13%;
  position: absolute;
  top: 58%;
  left: 10%;
  animation-name: head;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes head {
0% {top: 58%;}
50% {top: 53%;}
100% {top: 58%;}
}
.ear, .ear2 {
  background-color: #DE7A9A;
  border-radius: 50%;
  width: 16%;
  height: 24%;
  position: absolute;
  top: -12%;
}
.ear {
  left: 33%;
}
.ear2 {
  left: 59%;
}
.peye, .peye2 {
  background-color: black;
  width: 12%;
  height: 4%;
  top: 20%;
  border-radius: 50%;
  position: absolute;
}
.peye {
  left: 20%;
}
.peye2 {
  left: 44%;
}
.snout {
  background-color: #DE7A9A;
  border-radius: 40%;
  width: 30%;
  height: 26%;
  position: absolute;
  top: 30%;
  left: -18%;
}
.nostril, .nostril2 {
  background-color: black;
  border-radius: 50%;
  width: 7%;
  height: 7%;
  position: absolute;
  top: 34%;
}
.nostril {
  left: -16%;
}
.nostril2 {
  left: -8%;
}
.cheek {
  background-color: #F6CDDA;
  position: absolute;
  border-radius: 50%;
  width: 18%;
  height: 20%;
  top: 50%;
  left: 50%;
}
.body {
  background-color: #E790AC;
  border-radius: 50%;
  width: 30%;
  height: 20%;
  position: absolute;
  top: 70%;
  left: 12%;
  animation-name: body;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes body {
0% {top: 70%;}
50% {top: 65%;}
100% {top: 70%;}
}
.horizarm, .vertarm, .vertleg, .horizleg {
  background-color: #DE7A9A;
  border-radius: 20%;
  position: absolute;
}
.horizarm {
  width: 37%;
  height: 17%;
  top: 23%;
  left: -20%;
}
.vertarm {
  width: 20%;
  height: 35%;
  left: 78%;
}
.vertleg {
  width: 20%;
  height: 35%;
  top: 90%;
  left: 25%;
}
.horizleg {
  width: 39%;
  height: 16%;
  top: 83%;
  left: 63%;
}
.tutu, .tutu2, .tutu3 {
  background-color: #EA1AC4;
  border-radius: 50%;
  width: 125%;
  height: 10%;
  position: absolute;
  left: -13%;
}
.tutu {
  top: 50%;
}
.tutu2 {
  top: 57%;
  background-color: #A50D8A;
}
.tutu3 {
  top: 64%;
}
.pshoe, .pshoe2 {
  background-color: #A33356;
  position: absolute;
}
.pshoe {
  width: 23%;
  height: 22%;
  border-radius: 20%;
  top: 104%;
  left: 24%;
}
.pshoe2 {
  width: 28%;
  height: 17.5%;
  border-radius: 20%;
  top: 82.5%;
  left: 82%;
}
