body {
  margin: 0;
}
.container {
  width: 100%;
  margin: 30px 0 40px 0;
}
.header {
  width: 100%;
  float: left;
  margin-bottom: 200px;
}
.titleAuthor {
  margin-top: 100px;
  width: 50%;
  float: left;
  background-color: white;
}
.pic1 {
  width: 50%;
  float: left;
}
h1 {
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 78px;
}
img {
  width: 100%;
}
.bodyContent {
  width: 100%;
}
.introSection {
  width: 100%;
  }
h3 {
  float: left;
  width: 100%;
}
.introText {
  float: left;
  width: 50%;
}
.pic2 {
  width: 50%;
  float: left;
}
.section2 {
  width: 50%;
  margin-left: 50%;
}
.pic3 {
  width: 100%;
  float: left;
}
.text1 {
  width: 100%;
  float: left;
}
.section3 {
  width: 100%;
}
.pic4 {
  width: 50%;
  float: left;
}
.text2 {
  width: 50%;
  float: left;
}
.section4 {
  width: 100%;
}
.pic5 {
  width: 50%;
  float: left;
  margin-left: 50%;
}
.text3 {
  width: 50%;
  float: left;
}
.section5 {
  width: 100%;
}
.pic6 {
  width: 50%;
  float: left;
}
.text4 {
  width: 50%;
  float: left;
}
.section6 {
  width: 100%;
}
.pic7 {
  width: 50%;
  float: left;
  margin-left: 50%;
}
.text5 {
  width: 50%;
  float: left;
}
.section7 {
  width: 50%;
  padding-left: 60px;
}
.pic8 {
  width: 100%;
  float: left;
}
.text6 {
  width: 100%;
  float: left;
}
