/* general*/
body {
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img {
  width: 100%;
}
.container {
  width: 100%;
  margin: 30px 0 40px 0;
}
.bodyContent {
  width: 100%;
  margin:0px auto;
}
/* header */
.header {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}
.byline {
  position: absolute;
  bottom: 35px;
  right: 250px;
}
.titleAuthor {
  width: 65%;
  padding: 30px;
  position: absolute;
  top: 140px;
  right: 0px;
  background-color: white;
}
.pic1 {
  width: 50%;
  height: 500px;
  background: url(../pictures/P2_pics/Almonds_8.jpg) no-repeat center center;
  background-size: cover;
}
/* section divs */
.introSection, .section2, .section3, .section4, .section5, .section6, .section7 {
  width: 100%;
  margin: 0 0 150px 0;
}
/* text divs */
.introText, .text3, .text5 {
  float: left;
  width: calc(40% - 10px);
  margin: 0 20px 0 10%;
}
.text3, .text5 {
  margin-top: 150px;
}
.text1 {
  width: calc(40% - 10px);
  float: left;
  margin: 0 0 0 calc(50% + 10px);
}
.text2, .text4 {
  width: calc(40% - 10px);
  float: left;
  margin: 150px 0 0 20px;
}
.text6 {
  float: left;
  margin: 0 0 0 10%;
}
/* pic divs */
.pic2 {
  width: calc(40% - 10px);
  float: left;
  position: relative;
}
.pic3 {
  width: calc(60%);
  height: 500px;
  float: left;
  background: url(../pictures/P2_pics/Almonds_3.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 0 0 40%;
  position: relative;
}
.pic4 {
  width: calc(50% - 10px);
  float: left;
  position: relative;
}
.pic5, .pic7 {
  width: calc(50% - 10px);
  float: left;
  position: relative;
}
.pic6 {
  width: calc(40% - 10px);
  float: left;
  margin: 0 0 0 10%;
  position: relative;
}
.pic8 {
  width: calc(60%);
  float: left;
  margin: 0 0 0 10%;
}
/* numbers */
.number1 {
  position: absolute;
  top: 425px;
  left: 25px;
  padding: 75px 10px 0;
  background-color: white;
}
.number2, .number4 {
  position: absolute;
  top: 75px;
  left: calc(100% - 75px);
  padding: 0 0 0 100px;
  background-color: white;
}
.number3, .number5 {
  position: absolute;
  top: 75px;
  left: -50px;
  padding: 0 100px 0 0;
  background-color: white;
}
/* greenshapes */
.greenShape {
  background-color: #A2961B;
  height: 800px;
  width: 300px;
}
.greenShape2 {
  background-color: #A2961B;
  height: 800px;
  width: 82px;
}
/* text elements */
h1 {
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 78px;
  margin: 0;
}
h2 {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: normal;
  margin: 13px;
}
h3 {
  float: left;
  width: 100%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
}
h4 {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: italic;
}
h5 {
  float: left;
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
  margin: 0;
  padding: 0;
}
h6 {
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
  margin: 0;
  padding: 0;
}
p {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
}
@media only screen and (max-width: 1024px) {
  .byline {
    bottom: 15px;
    right: 150px;
  }
  .titleAuthor {
    top: 100px;
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .byline {
    bottom: 0px;
    top: 50px;
    right: 50px;
  }
  h1 {
    font-size: 40px;
  }
  .titleAuthor {
    padding: 10px;
    top: 140px;
    right: 0px;
  }
  .pic1 {
    height: 350px;
  }
  h3 {
    font-size: 20px;
  }
  .introSection, .section2, .section4, .section5, .section6, .section7 {
    width: 60%;
    margin-left: 20%;
  }
  .introText {
    width: 100%;
  }
  .pic2 {
    width: 100%;
    margin-left: 5%;
  }
  .section2 {
    margin-left: 0%;
  }
  .pic3 {
    width: 100%;
  }
  .text1 {
    width: 100%;
    margin-left: 40%;
    margin-top: 12%;
  }
  h5 {
    font-size: 51px;
  }
  .number1 {
    top: 425px;
  }
  .section3 {
    width: 100%;
  }
  .text2 {
    width: 60%;
    margin-left: 24%;
    margin-top: 40px;
  }
  .pic4 {
    width: 70%;
  }
  .number2 {
    top: 230px;
    left: 20px;
    padding: 75px 10px 0 10px;
  }
  h6 {
    font-size: 51px;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 504px) {

}
