body {
  margin: 0;
}
.container {
  width: 100%;
  margin: 30px 0 40px 0;
}
.header {
  /* background-color: blue; */
  width: 100%;
  margin-bottom: 200px;
  /* added relative positioning to let inside parts's positioning relative to this div's info. */
  position: relative;
}
.byline {
  position: absolute;
  bottom: 35px;
  right: 30px;
}
.titleAuthor {
  width: 65%;
  padding: 30px;
  position: absolute;
  top: 140px;
  right: 0px;
  background-color: white;
}
.pic1 {
  width: 50%;
  height: 500px;
  background: url(../pictures/P2_pics/Almonds_8.jpg) no-repeat center center;
  background-size: cover;
}
h1 {
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 78px;
  margin: 0;
}
h2 {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: normal;
  margin: 13px;
}
img {
  width: 100%;
}
.bodyContent {
  width: 80%;
  margin:0px auto;
}
.introSection {
  width: 80%;
  margin: 0px auto;
  }
h4 {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: italic;
}
h5 {
  float: left;
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
}
h6 {
  float: left;
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
}
h7 {
  float: left;
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
}
h8 {
  float: left;
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
}
h9 {
  float: left;
  width: 10%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 61px;
}
p {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: normal;
}
h3 {
  float: left;
  width: 100%;
  font-family: chaparral-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
}
.introText {
  float: left;
  width: 50%;
}
.pic2 {
  width: 50%;
  float: left;
}
.section2 {
  width: 50%;
  margin-left: 50%;
}
.greenShape {
  background-color: #A2961B;
  height: 800px;
  width: 300px;
}
.greenShape2 {
  background-color: #A2961B;
  height: 800px;
  width: 82px;
}
.pic3 {
  width: 100%;
  float: left;
}
.text1 {
  width: 100%;
  float: left;
}
.section3 {
  width: 100%;
}
.pic4 {
  width: 50%;
  float: left;
}
.text2 {
  width: 50%;
  float: left;
}
.section4 {
  width: 100%;
}
.pic5 {
  width: 50%;
  float: left;
  margin-left: 50%;
}
.text3 {
  width: 50%;
  float: left;
}
.section5 {
  width: 100%;
}
.pic6 {
  width: 50%;
  float: left;
}
.text4 {
  width: 50%;
  float: left;
}
.section6 {
  width: 100%;
}
.pic7 {
  width: 50%;
  float: left;
  margin-left: 50%;
}
.text5 {
  width: 50%;
  float: left;
}
.section7 {
  width: 50%;
  padding-left: 60px;
}
.pic8 {
  width: 100%;
  float: left;
}
.text6 {
  width: 100%;
  float: left;
}
