body {
  margin: 0;
}
.container {
  width: 100%;
}
.header {
  width: 100%;
  float: left;
  margin-bottom: 200px;
}
.titleAuthor {
  margin-top: 100px;
  width: 50%;
  float: left;
  background-color: white;
}
.pic1 {
  width: 50%;
  float: left;
}
img {
  width: 100%;
}
.bodyContent {
  width: 100%;
}
.introSection {
  width: 100%;
  }
.introText {
  float: left;
  width: 40%;
  margin-left: 30px;
}
.pic2 {
  margin-left: 30px;
  width: 40%;
  float: left;
}
.section2 {
  width: 50%;
  margin-left: 50%;
}
.pic3 {
  width: 100%;
  float: left;
}
.text1 {
  width: 100%;
  float: left;
}
.section3 {
  width: 100%;
}
.pic4 {
  width: 50%;
  float: left;
}
.text2 {
  width: 50%;
  float: left;
}
.section4 {
  width: 100%;
}
.pic5 {
  width: 50%;
  float: left;
  margin-left: 50%;
}
.text3 {
  width: 50%;
  float: left;
}
.section5 {
  width: 100%;
}
.pic6 {
  width: 50%;
  float: left;
}
.text4 {
  width: 50%;
  float: left;
}
