body {
  margin: 0;
  background-color: #FCF4D0;
}
.container {
  width: 980px;
  margin: 100px auto;
}
.container3 {
  width: 300px;
}
.short, .thin, .medium, .tall {
  float: left;
}
.short {
  width: 33.125px;
  height: 60px;
  background-color: #25DEB1;
}
.thin {
  background-color: #25DEB1;
}
.medium {
  background-color: #25DEB1;
}
.tall {
  background-color: #25DEB1;
}
