body {
  margin: 0;
  background-color: #FCF4D0;
}
.container {
  width: 980px;
  margin: 100px auto;
  background-color: #25DEB1;
}
.container1 {
  width: 310px;
}
.container2 {
  width: 325px;
  margin: 0px 5px;
}
.container3 {
  width: 310px;
}
.short, .short2, .thin, .medium, .tall, .container1, .container2, .container3 {
  float: left;
}
.short {
  width: 33.125px;
  height: 60px;
  margin: 2px;
  background-color: #25DEB1;
}
.short2 {
  width: 33.125px;
  height: 60px;
  margin: 2px;
  background-color: #25DEB1;
}
.thin {
  background-color: #25DEB1;
  width: 37.125px;
  height: 120px;
  margin: 2px 2px;
}
.medium {
  background-color: #25DEB1;
  width: 70.25px;
  height: 120px;
  margin: 2px 4px 0px 0px;
}
.tall {
  width: 70.25px;
  height: 182px;
  background-color: #25DEB1;
}
